<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:rabbit="http://www.springframework.org/schema/rabbit"
    xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/rabbit
	http://www.springframework.org/schema/rabbit/spring-rabbit.xsd
    http://www.springframework.org/schema/context      
    http://www.springframework.org/schema/context/spring-context-4.0.xsd 
	http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">
 
 
    <context:property-placeholder location="classpath:rabbit.properties" ignore-unresolvable="true" />
    
	<!-- 配置连接工厂 -->
	<rabbit:connection-factory id="connectionFactory"
		host="${rabbit.host}" port="${rabbit.port}" username="${rabbit.username}" password="${rabbit.password}" />
 
	<!-- 定义mq管理 -->
	<rabbit:admin connection-factory="connectionFactory" />
 
	<!-- 声明队列 -->
	<rabbit:queue name="queue" auto-declare="true" durable="true" />
 
	<!-- 定义消费者 -->
	<bean name="queuehandler" class="com.climber.rabbitmq.PigHandler" />
 
	<!-- 定义消费者监听队列 -->
	<rabbit:listener-container
		connection-factory="connectionFactory">
		<rabbit:listener ref="queuehandler" queues="queue" />
	</rabbit:listener-container>
 
</beans>